
.inline {
    display: inline-block;
    margin: 20px;
    width: 450px;
    position: relative;
    transition: transform 0.3s;
    vertical-align: top;
  }
  
  .inline:hover {
    transform: scale(1.05);
  }
  
  .inline figure {
    position: relative;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 10px;
  }
  
  .inline img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
  }
  
  figcaption {
    text-align: center;
    padding: 10px;
  }
  
  .inline:hover figure {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  }
  